table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  min-width: 500px;
}

th {
  background-color: #c6e2e7;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  height: 20px;
}
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  height: 50px;
}
.id {
  min-width: 50px;
}
.category {
  
  width: 120px;
}
.price{
  width: 70px;
}
.rating {
  width: 100px;
}

button{
  background: transparent;
  border: none;
}