table {
  width: 70%;
  border-collapse: collapse;
  margin: 20px 0;
}

th {
  background-color: #c6e2e7;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  height: 20px;
}
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  height: 50px;
}
